@tailwind base;
@tailwind components;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
  }
  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
    height: 8px;
  }
  html *::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #2881ad, #2861ad);
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.15);
  }
  html *::-webkit-scrollbar-track {
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
  body {
    @apply font-barlow bg-white dark:bg-gray-900 dark:text-dark-text-color-1;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  input {
    @apply w-full focus:outline-none text-base leading-6 text-slate-400  dark:bg-slate-800;
  }
}

@layer components {
}
