@tailwind base;
@tailwind components;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
  }
  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
    height: 8px;
  }
  html *::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #2881ad, #2861ad);
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.15);
  }
  html *::-webkit-scrollbar-track {
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
  body {
    @apply font-barlow bg-white dark:bg-slate-900 dark:text-slate-400 duration-300;
  }
  h1 {
    @apply text-5xl font-medium;
  }
  h2 {
    @apply text-4xl font-medium;
  }
  h3 {
    @apply text-3xl font-medium;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  input {
    @apply focus:outline-none text-base leading-6 text-slate-400  dark:bg-slate-800;
  }
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
  textarea {
    @apply focus:outline-none text-base leading-6 text-slate-400  bg-transparent;
  }
  ol {
    list-style: decimal;
    padding-left: 24px;
    margin-bottom: 8px;
  }
}

@layer components {
  .content-auto {
    @apply absolute w-full h-full text-center text-transparent bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text translate-x-full;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);

    /* Apply animation to this element */
    -moz-animation: contentAuto 10s linear infinite;
    -webkit-animation: contentAuto 10s linear infinite;
    animation: contentAuto 10s linear infinite;
  }

  @keyframes contentAuto {
    0% {
      -moz-transform: translateX(100%); /* Firefox bug fix */
      -webkit-transform: translateX(100%); /* Firefox bug fix */
      transform: translateX(100%);
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      -moz-transform: translateX(-100%); /* Firefox bug fix */
      -webkit-transform: translateX(-100%); /* Firefox bug fix */
      transform: translateX(-100%);
      background-position: 0% 50%;
    }
  }

  .table-markdown {
    width: 100%;
  }
  .table-markdown th,
  .table-markdown td {
    border: 1px solid #ddd;
    padding: 8px;
  }
}
